.SideNav {
    width: 200px;
    position: fixed;
    top: 0;bottom: 0;
    // border: 1px solid;
    .SideNavlogo {
        height: 60px;
        border: 1px solid;
        display: flex;

        align-items: center;
        justify-content: center;
    }
    .SideNavbody {
        border: 1px solid;
        height: 100%;
        ul {
            margin: 0;
            li {
                list-style-type: square;
                padding: 0;
            }
        }
    }
}

.TopNav {
    padding-left: 200px;
    // border: 1px solid;
    height: 60px;
    .insideTopNav {
        height: 100%;
        width: 100%;
        border: 1px solid;

    }
}

.Main {
    padding-left: 200px;
    .insideMain{
        border: 1px solid;
        min-height: calc(100vh - 60px);
        
    }
}