html , body {
  min-height: 100vh;
  margin: 0;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f6fa;
}
